# Create Combinatorial Media
In this notebook I create machine understandable instructions for making combinatorial media using the media compiler and an initial media specification.

In [4]:
import media_compiler as mc

In [5]:
df = mc.generate_initial_media('data/example/example_stock_solutions.csv',NUM_MEDIA=2,WATER_WELLS=8)

In [6]:
display(df)

                    Glucose   Na2HPO4  Volume  Target
Plate       Well
src_plate   1     40.000000  0.000000    1000   False
            2      0.000000  1.000000    1000   False
water_plate 1      0.000000  0.000000    1600   False
            2      0.000000  0.000000    1600   False
            3      0.000000  0.000000    1600   False
            4      0.000000  0.000000    1600   False
            5      0.000000  0.000000    1600   False
            6      0.000000  0.000000    1600   False
            7      0.000000  0.000000    1600   False
            8      0.000000  0.000000    1600   False
dest_plate  1      0.001941  0.034729    1100    True
            9      0.001941  0.034729    1100    True
            17     0.001941  0.034729    1100    True
            2      0.005447  0.028227    1100    True
            10     0.005447  0.028227    1100    True
            18     0.005447  0.028227    1100    True

In [7]:
mc.compile_media(df)

Tips Needed By Subrutine
Adding Water To Mixing Plate (Done with 8 tips in method): 7 Tips,  1 Plates
Adding Water to Destination Plate (Done with 8 Tips): 36 Tips,  1 Plates
Diluting Stock Solutions: 1 Tips,  1 Plates
Adding Undilute Media To Dest: 6 Tips,  1 Plates
Mixing Final Media: 6 Tips,  1 Plates

Overall Experiment Need
Total Tips Needed: 56
Tip Plates Consumed: 1